<main>

    <header>
      <h1>QuickNote</h1>
    </header>

    <section class="quicknote">
      <section class="quicknote-new">
        <input type="text" name="new-title" id="new-title" rows="30" placeholder="Titulo da anotação">
        <textarea name="new-textArea" id="new-textArea"></textarea>
          <input type="submit" value="Salvar" id="new-submitButton">
      </section>
  
      <section class="quicknote-myNotes">
        <header>
          <h2>Minhas anotações</h2>
          <menu>
            <ul>
              <li><button>Novas</button></li>
              <li><button>Favoritas</button></li>
            </ul>
          </menu>
        </header>
        <div class="myNotes-notes">
          <ul>
            <li *ngFor="let nota of notas$ | async">
              <div class="notes-note-up">
                <h3>{{ nota.title }}</h3>
                <span>{{ nota.date }}</span>
                <button><img src="./assets/favorite.svg" alt="Favoritar"></button>
              </div>
              <p>{{nota.content}}</p>
            </li>
          </ul>
        </div>
      </section>
    </section>
</main>

<router-outlet />
